html {
    scroll-behavior: smooth;
}

body {
    font: 400 24px/30px "TildaSans";
}

.header,
.footer {
    padding: 25px 40px;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-panel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-panel__item {
    display: block;
    list-style-type: none;
}

.header .wrapper,
.section_home .wrapper,
.section_about .wrapper,
.section_products .wrapper,
.section_waste .wrapper,
.footer .wrapper {
    display: flex;
}

.header .wrapper,
.footer .wrapper {
    justify-content: space-between;
}

.footer .wrapper {
    flex-wrap: wrap;
}

.section {
    padding: 60px 40px;
    background-color: #FFFFFF;
}

.section_products .wrapper,
.section_waste .wrapper {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
}

.section_products,
.footer {
  background-color: #050b68;
  color: #FFFFFF;
}

.section_home {
    background-image: url("./assets/images/pexels-cottonbro-9222184.jpg");
    background-size: cover;
}

.section_home .wrapper {
    justify-content: center;
    padding: 100px 50px;
}

.home-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.section_about .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.about-article {
    display: flex;
    justify-content: space-between;
}

.about-article > * {
    max-width: 350px;
}

.about-pros {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.about-pros__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  background-color: #050b68;
  padding: 20px;
  border-radius: 20px;
  color: #FFFFFF;
}

.products {
    display: flex;
    justify-content: space-between;
}

.splide__track {
    margin: 0 95px;
}

.splide__pagination {
    bottom: -30px !important;
}

.section_products .splide__pagination__page.is-active {
    opacity: 1;
}

.section_waste .splide__pagination__page {
    background-color: #050b68;
}

.section_waste .splide__pagination__page.is-active {
    background-color: #050b68;
    opacity: 1;
}

.products-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #000000;
}

.products-item .img {
    border-radius: 20px 20px 0 0;
}

.products-item .button {
    align-self: center;
}

.waste-list__item .img {
    margin-bottom: 15px;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacts-list__item {
    font-size: 1.2em;
}

.map {
    width: 400px;
    height: 320px;
}

.title {
    font: 700 1.7em/0.9em "TildaSans";
}

.title_home {
    font: 700 4em "TildaSans";
    color: #FFFFFF;
    text-align: center;
}

.title_product,
.title_pros {
    font: 700 1em "TildaSans";
}

.footer .title {
    margin-bottom: 30px;
}

.link {
    color: #000000;
    text-decoration: none;
}

.link_contacts {
    color: #FFFFFF;
    transition: 0.3s;
}

.link_nav {
    display: block;
    transition: 0.3s;
}

.link_nav:hover,
.link_contacts:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.paragraph {
    font: 400 1em/1.1em "TildaSans";
}

.paragraph_l {
    font: 400 0.8em/1.2em "TildaSans";
}

.paragraph_xl,
.paragraph_description {
  font: 400 1.3em/1.3em "TildaSans";
  text-align: center;
}

.paragraph_xl {
  color: #FFFFFF;
}

.button {
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px #000000 solid;
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
    background-color: #050b68;
    border-color: #FFFFFF;
    color: #FFFFFF;
    transition: 0.3s;
}

.img{
    border-radius: 20px;
    width: 100%;
}

@media (max-width: 960px) {
    body {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 18px;
    }

    .nav-panel {
        display: none;
    }

    .about-pros__item {
        width: 250px;
    }

    .footer .title {
        margin-bottom: 20px;
    }

    .contacts-list {
        gap: 10px;
    }
}

@media (max-width: 550px) {
    .header {
        padding: 20px 32px;
    }

    .section {
        padding: 40px 40px 60px 40px;
    }
}

@media (max-width: 450px) {
    body {
        font-size: 16px;
    }

    .title_home {
        font-size: 3.5em;
    }

    .section_about .wrapper,
    .about-pros,
    .section_products .wrapper,
    .section_waste .wrapper {
        gap: 20px;
    }

    .about-pros__item,
    .products-item {
        gap: 13px;
    }

    .products-item .button {
        padding: 10px;
    }

    .contacts-list__item {
        line-height: 1.2em;
    }
}

@media (max-width: 370px) {

    .title {
        font-size: 1.5em;
    }

    .title_home {
        font-size: 3em;
    }

    .paragraph_description {
        font-size: 1.1em;
    }
}

@font-face {
    font-family: "TildaSans";
    src: url(assets/fonts/TildaSans-VF.ttf);
    font-style: normal;
    font-weight: normal;
}