body {
    font: 400 24px/30px "TildaSans";
}

.header,
.footer {
    padding: 25px 40px;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-panel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-panel__item {
    display: block;
    list-style-type: none;
}

.header .wrapper,
.section_home .wrapper,
.section_about .wrapper,
.section_products .wrapper,
.section_waste .wrapper,
.footer .wrapper {
    display: flex;
}

.header .wrapper,
.footer .wrapper {
    justify-content: space-between;
}

.section {
    padding: 60px 40px;
    background-color: #FFFFFF;
}

.section_products .wrapper,
.section_waste .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.section_products,
.footer {
  background-color: #050b68;
  color: #FFFFFF;
}

.section_home {
    background-image: url("./assets/images/pexels-cottonbro-9222184.jpg");
    background-size: cover;
}

.section_home .wrapper {
    justify-content: center;
    padding: 100px 50px;
}

.home-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.section_about .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.about-article {
    display: flex;
    justify-content: space-between;
}

.about-article > * {
    max-width: 350px;
}

.about-pros {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.about-pros__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  background-color: #050b68;
  padding: 20px;
  border-radius: 20px;
  color: #FFFFFF;
}

.products {
    display: flex;
    justify-content: space-between;
}

.products-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    width: 250px;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px #000000 solid;
}

.products-item .img {
    border-radius: 20px 20px 0 0;
}

.products-item .button {
    align-self: center;
}

.waste-container {
    display: flex;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.map {
    width: 500px;
}

.title {
    font: 700 1.7em/0.9em "TildaSans";
}

.title_home {
    font: 700 4em "TildaSans";
    color: #FFFFFF;
    text-align: center;
}

.title_product,
.title_pros {
    font: 700 1em "TildaSans";
}

.footer .title {
    margin-bottom: 30px;
}

.link {
    color: #000000;
    text-decoration: none;
}

.link_nav {
    display: block;
}

.link_nav:hover {
    text-decoration: underline;
}

.paragraph {
    font: 400 1em/1.1em "TildaSans";
}

.paragraph_l {
    font: 400 0.8em/1.2em "TildaSans";
}

.paragraph_xl,
.paragraph_description {
  font: 400 1.3em/1.3em "TildaSans";
  text-align: center;
}

.paragraph_xl {
  color: #FFFFFF;
}

.button {
    /* align-self: flex-start; */
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px #000000 solid;
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
    background-color: #6a9334;
    transition: 0.3s;
}

.img{
    border-radius: 20px;
    width: 100%;
}

@font-face {
    font-family: "TildaSans";
    src: url(assets/fonts/TildaSans-VF.ttf);
    font-style: normal;
    font-weight: normal;
}